<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for item in post_random %}
            <div class="item">
                <img src="{{item.image.url}}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>{{item.category}}</span>
                        </div>
                        <a href="/post/{{item.id}}/{{item.slug}}">
                            <h4>{{item.title}}</h4>
                        </a>
                        <ul class="post-info">
                            <li><a href="#">{{item.user.first_name}}</a></li>
                            <li><a href="#">{{item.updated_at|date:"d/m/Y"}}</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>