 <div class="col-lg-8">
     <div class="all-blog-posts">
         <div class="row">
             {% for item in post_latest %}
             <div class="col-lg-12">
                 <div class="blog-post">
                     <div class="blog-thumb">
                         <img src="{{item.image.url}}" alt="">
                     </div>
                     <div class="down-content">
                         <span>{{item.category.title}}</span>
                         <a href="/post/{{item.id}}/{{item.slug}}">
                             <h4>{{item.title}}</h4>
                         </a>
                         <ul class="post-info">
                             <li><a href="#">{{item.user.first_name}}</a></li>
                             <li><a href="#">{{item.created_at|date:"d/m/Y"}}</a></li>
                             <li><a href="#">12 Comments</a></li>
                         </ul>
                         <p>{{item.description}}</p>
                         <div class="post-options">
                             <div class="row">
                                 <div class="col-6">
                                     <ul class="post-tags">
                                         <li><i class="fa fa-tags"></i></li>
                                         <li><a href="#">{{item.category.title}}</a>,</li>

                                     </ul>
                                 </div>
                                 <div class="col-6">
                                     <ul class="post-share">
                                         <li><i class="fa fa-share-alt"></i></li>
                                         <li><a href="#">Facebook</a>,</li>
                                         <li><a href="#"> Twitter</a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             {% endfor %}
             <div class="col-lg-12">
                 <div class="main-button">
                     <a href="blog.html">View All Posts</a>
                 </div>
             </div>
         </div>
     </div>
 </div>